@{
    Layout = "_Layout";
}
<div class="navbar-collapse" collapse d-sm-inline-flex justify-content-between">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">My Users</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Create">Create User</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Delete">Delete users</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Privacy" asp-action="UnauthorizedAccess">Unauthorized Access</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Privacy" asp-action="ScheduleRooms">Schedule Rooms</a>
    </li>
</div>


